<!-- Contact Start -->
<section id="contact" class="hero has-jungle-bg is-fullheight">
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="columns is-vcentered">
                <div class="column has-text-centered">
                    <p class="title is-1 has-text-white">
                        Contact {{title|title}}
                    <h1 class="title"></h1>
                    </p>
                </div>
                <div class="column">
                    <form method="post" id="contact-form">
                        <input type="hidden" id="receiver_name" name="receiver_name" value="{{ data[title]['name']}}">   
                        <input type="hidden" id="receiver_email" name="receiver_email" value="{{data[title]['social'][2]['val']}}">      
                        <div class="block">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input name="name" id="name" class="input is-large" type="text" placeholder="Name">
                                    <span class="icon is-large is-left">
                                    <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input name="subject" id="subject" class="input is-large" type="text" placeholder="Subject">
                                    <span class="icon is-large is-left">
                                    <i class="fas fa-eraser"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input name="email" id="email" class="input is-large" type="text" placeholder="Email">
                                    <span class="icon is-large is-left">
                                    <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <textarea name="message" id="message" class="textarea is-large" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="field is-grouped is-grouped-centered">
                                <p class="control">
                                    <button name="submit" id="submit" value="submit" type="submit" class="button is-rounded is-large is-primary has-background-white has-text-primary-dark">
                                    Submit
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div class="block">
                            <p id="success-notification"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact End -->