<!-- Experience Start -->
{% if data[title]['experience'] %}
<section id="experience" class="hero has-nft-bg is-fullheight">
    <div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title is-1 is-uppercase has-text-white ">Experience</h1>
        <div class="columns is-centered">
            <!-- start card -->
            {% for experience in data[title]['experience'] %}
            <div class="column is-two-fifths">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title title is-4">
                            {{ experience['location'] }}
                        </p>
                    </header>
                    <div class="card-content">
                        <img src="{{experience['image']}}" class="same-size">
                        <p class="title">
                            {{ experience['title'] }}
                        </p>
                        <p class="subtitle">
                            {{ experience['range'] }}
                        </p>
                        <p></p>
                        <ul>
                            <li style="white-space: pre-wrap">{{ experience['info'] }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- card end -->
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
<!-- Experience End -->