<!-- Footer Start -->
<footer class="footer">
    <div class="content has-text-centered">
        <div class="block">
            <buttons>
                <a href={{data[title]['social'][1]['val']}} target="_blank" rel="noreferrer noopener">
                <button class="button is-large">
                <span class="icon is-medium">
                <i class="fab fa-github"></i>
                </span>
                <span>{{data[title]['social'][1]['name']}}</span>
                </button>
                </a>
                <a href={{data[title]['social'][0]['val']}} target="_blank" rel="noreferrer noopener">
                <button class="button is-large">
                <span class="icon is-medium">
                <i class="fab fa-linkedin"></i>
                </span>
                <span>{{data[title]['social'][0]['name']}}</span>
                </button>
                </a>
            </buttons>
        </div>
        <div class="block">
            <strong>
                <p>
                    Bored Apes Portfolio (MLH Fellowship Orientation Hackathon Summer 2022)
                </p>
            </strong>
        </div>
        <div class="block">
            <p>
                Made with &nbsp; <i class="fa-solid fa-heart"></i> &nbsp; in Detroit, Edmonton, and Markham
            </p>
        </div>
        <a href="#top" class="button is-small">Back to top</a>
    </div>
</footer>
<!-- Footer End -->