<!-- Hobbies Start -->
<section id="hobbies" class="hero has-nft-bg is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered p-6">
            <h1 class="title is-1 is-uppercase has-text-white">Hobbies</h1>
            <div class="columns">
                {% for hobbies in data[title]['hobbies'] %}
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <figure class="image is-3by2">
                                <img src={{ hobbies['image'] }}>
                            </figure>
                            <br />
                            <p class="title">
                                {{hobbies['hobby']}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Hobbies End -->