<!--Navbar start-->
        <nav id="top" class="navbar is-transparent" id="grnav">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" width="112" height="28">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start" id="topnavbar">
                    {% for person in data %}
                    {% if title == person %}
                    <a class="navbar-item has-text-weight-bold has-text-warning-dark" href={{ person }}>
                        <figure class="image is-hidden-touch">
                            <img class="is-rounded" src="{{ data[person]['image']}}">
                        </figure>
                        &nbsp; &nbsp; {{ data[person]["name"] }}
                    </a>
                    {% else %}
                    <a class="navbar-item has-text-info-dark" href={{ person }}>
                        <figure class="image is-hidden-touch">
                            <img class="is-rounded" src="{{ data[person]['image']}}">
                        </figure>
                        &nbsp; &nbsp;{{ data[person]["name"] }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="navbar-end">
                    <a class="navbar-item">
                        <p class="is-hidden-touch" id="btnarrow" onclick="show_hide()" padding="50px">
                            <span class='icon'>
                            <i class='fa-solid fa-angle-up'></i>
                            </span>
                        </p>
                    </a>
                </div>
            </div>
        </nav>
<!--Navbar end-->