body,
html {
    height: 100%;
    background-color: white;
}

.same-size {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
}

.is-transparent {
    background-color: transparent;
    background-image: none;
}

.has-jungle-bg {
    background: url("../img/jungle.jpg") center center;
    background-size: cover;
}

.has-nft-bg {
    background: url("../img/nft.jpg") center center;
    background-size: cover;
}

.green-outlined {
    color: white;
    text-shadow:
        -1px -1px 0 darkgreen,
        1px -1px 0 darkgreen,
        -1px 1px 0 darkgreen,
        1px 1px 0 darkgreen;
    font-size: 50px;
    font-weight: 700;
}

.has-hobbies-bg {
    background: url("../img/bg.jpg") center center;
    background-size: cover;
}

.blue-outlined {
    color: lightgray;
    text-shadow:
        -1px -1px 0 darkcyan,
        1px -1px 0 darkcyan,
        -1px 1px 0 darkcyan,
        1px 1px 0 darkcyan;
}

.about {
    height: 100%;
    background-color: white;
}

.about-column {
    height: 700px;
}

.profile {
    text-align: center;
    height: 240px;
}
.profile img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;        
    padding: 20px;
}

.profile .profile-picture {
margin-bottom: 5px;
height: 240px;
}

.card {
    height: 100%;
}
