body,
html {
    height: 100%;
}

.same-size {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
}

.has-jungle-bg {
    background: url("../img/jungle.jpg") center center;
    background-size: cover;
}

.has-nft-bg {
    background: url("../img/nft.jpg") center center;
    background-size: cover;
}

.green-outlined {
    color: white;
    text-shadow:
        -1px -1px 0 darkgreen,
        1px -1px 0 darkgreen,
        -1px 1px 0 darkgreen,
        1px 1px 0 darkgreen;
}