<!-- Navigation and Footer, Common Website Sections -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="Personal Portfolio">
        <meta property="og:description" content="My Personal Portfolio">
        <meta property="og:url" content="{{ url }}">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
        <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type='image/x-icon'>
    </head>
    <body>
        <nav class="navbar is-transparent">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
                </a>
                <div class="navbar-burger" data-target="navbarExampleTransparentExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navbarExampleTransparentExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="https://bulma.io/">
                    Home
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
                        Docs
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
                            Overview
                            </a>
                            <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/">
                            Modifiers
                            </a>
                            <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                            Columns
                            </a>
                            <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
                            Layout
                            </a>
                            <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
                            Form
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
                            Elements
                            </a>
                            <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
                            Components
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                                <span class="icon">
                                <i class="fab fa-twitter"></i>
                                </span>
                                <span>
                                Tweet
                                </span>
                                </a>
                            </p>
                            <p class="control">
                                <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.9.4/bulma-0.9.4.zip">
                                <span class="icon">
                                <i class="fas fa-download"></i>
                                </span>
                                <span>Download</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div id="content">{% block content %}{% endblock %}</div>

        <footer class="footer">
            <div class="content has-text-centered">
                <div class="block">
                    <buttons>
                        <button class="button is-large">
                        <span class="icon is-medium">
                        <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                        </button>
                        <button class="button is-large">
                        <span class="icon is-medium">
                        <i class="fab fa-linkedin"></i>
                        </span>
                        <span>LinkedIn</span>
                        </button>
                        <button class="button is-large">
                        <span class="icon is-medium">
                        <i class="fas fa-link"></i>
                        </span>
                        <span>Portfolio</span>
                        </button>
                    </buttons>
                </div>
                <div class="block">
                    <strong>
                        <p>
                            Bored Apes Portfolio (MLH Fellowship Orientation Hackathon Summer 2022)
                        </p>
                    </strong>
                </div>
            </div>
        </footer>

        <script src="https://kit.fontawesome.com/1dcdba3ff6.js" crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt4EkwGj2-VGm0Kw3VF-0-5EpKveUAXAA&callback=initMap&libraries=&v=weekly" async></script>
        <script type="text/javascript">
            // Initialize and add the map
            function initMap() {
                
                console.log("Hello World!");
            
                // The location of Geeksforgeeks office
                const myLatLng = {
                    lat: -25.363,
                    lng: 131.044
                };
            
                const edmonton = {
                    lat: 53.631611,
                    lng: -113.490112
                };
            
                const newYork = {
                    lat: 40.730610,
                    lng: -73.935242
                };
            
                // Create the map, centered at gfg_office
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 3,
                    center: edmonton,
                });
            
                new google.maps.Marker({
                    position: myLatLng,
                    map,
                    title: "Hello World!",
                });
            
                new google.maps.Marker({
                    position: edmonton,
                    map,
                    title: "Hello World!",
                });
            
                new google.maps.Marker({
                    position: newYork,
                    map,
                    title: "Hello World!",
                });
            
            
            }
        </script>
    </body>
</html>