<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ data[title]['name']|title}}'s Portfolio">
  <meta property="og:description" content="{{ data[title]['name']|title}}'s Portfolio">
  <meta property="og:url" content="{{ url }}">
  <meta propery="og:author" content="Hadi Chaaban, Logan Hoogendijk, Justin Monteza">

  <title>{{ data[title]['name']|title}}'s Portfolio</title>
  <link rel="icon" type="image/x-icon" href="{{ data[title]['image']}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/6f97194b39.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/styles/main.css">

</head>

<body>
  <!--Navbar start-->
  <nav id="top" class="navbar is-transparent" id="grnav">

     <div class="navbar-brand">
    <a class="navbar-item" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='img/logo.png') }}" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

    <div class="navbar-menu">
        <div class="navbar-start" id="topnavbar">
          {% for person in data %}
          {% if title == person %}
          <a class="navbar-item has-text-weight-bold has-text-link" href={{ person }}>
                  <figure class="image">
  <img class="is-rounded" src="{{ data[person]['image']}}">
</figure>  &nbsp; &nbsp; {{ data[person]["name"] }}
          </a>
          {% else %}
          <a class="navbar-item" href={{ person }}>
            <figure class="image">
  <img class="is-rounded" src="{{ data[person]['image']}}">
</figure> &nbsp; &nbsp;{{ data[person]["name"] }}
          </a>

          {% endif %}

          {% endfor %}
      </div>
      <div class="navbar-end">
        <a class="navbar-item">
          <p id="btnarrow" onclick="show_hide()" padding="50px">
            <span class='icon'>
              <i class='fa-solid fa-angle-up'></i>
            </span>
          </p>
          <script src=" {{ url_for('static', filename='js/arrow.js') }}"></script>
        </a>
        <a class="navbar-item"></a>
      </div>
    </div>
  </nav>
  <!--Navbar end-->
  
  <section class="hero has-jungle-bg is-fullheight p-6">
    <div class="hero-body p-6">
      <div class="container has-text-centered">
        <div class="column is-8 is-offset-2">
          <div class="card">
            <div class="card-content">
                <div class="profile">
                  <div id="profile-picture" class="profile-picture">
                    <img src="{{ data[title]['image']}}">
                </div>
                </div>
              <p class="title is-4"> {{ data[title]['name'] }} </p>
            </div>
          </div>
          <div class="card" class="has-background-white about-column">
            <div class="box about">
              <p class="title is-5">About Me</p>
              <p class="subtitle">{{ data[title]['about'] }}</p>


<div class="buttons is-centered">
  {% for anchor in anchors %}
  <a href="{{ '#' ~ anchor|lower}}" class="button">{{anchor|lower}}</a>
  {% endfor %}
</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="hero has-background-info is-medium p-6">
    <div class="hero-body p-6">
      <div class="container is-fluid has-text-centered p-6">
          <div class="columns">
            <div class="column is-one-third" class="has-background-white about-column">
              <div class="box about">
                <p class="title is-5"> {{ data[title]['name'] }} </p>
                <img src={{ data[title]['image'] }} class="same-size">      
              </div>
            </div>
          <div class="column" class="has-background-white about-column">
            <div class="box about">
              <p class="title is-5">About Me</p>
              <p class="subtitle">{{ data[title]['about'] }}</p>
            </div>
          </div>
      </div>
    </div>
  </section> -->
  

  
  {% if data[title]['experience'] %}
  <section id="experience" class="hero has-nft-bg is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1 is-uppercase has-text-white ">Experience</h1>
        <div class="columns is-centered">

          <!-- start card -->

          {% for experience in data[title]['experience'] %}
          <div class="column is-two-fifths">


            <div class="card">
              <header class="card-header">
                <p class="card-header-title title is-4">
                  {{ experience['location'] }}
                </p>
              </header>
              <div class="card-content">
                <!-- <figure class="image is-256x256"> -->
                <img src={{ experience['image'] }} class="same-size">
                <!-- </figure> -->

                <p class="title">
                  {{ experience['title'] }}
                </p>
                <p class="subtitle">
                  {{ experience['range'] }}
                </p>
                <p></p>

                <ul>
                  <li style="white-space: pre-wrap">{{ experience['info'] }}</li>
                </ul>
              </div>
            </div>

          </div>
          <!-- card end -->
          {% endfor %}

        </div>
      </div>
  </section>
  {% endif %}

  <!-- EDUCATION START-->
  <section id="education" class="hero has-jungle-bg is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered p-6">
        <h1 class="title is-1 is-uppercase has-text-white">Education</h1>

        {% for school in data[title]['schools'] %}
        <div class="block">
          <div class="card">
            <div class="card-content">
              <div class="columns is-gapless is-vcentered is-centered">
                <div class="column">
                  <img src="{{school.logo}}" width="300" height="300">
                  <h1 class="title is-1">{{school.degree}}</h1>
                  <h1 class="subtitle is-3">{{school.course}}</h1>
                  <div class="block">
                    <h1 class="title is-6">Favourite Courses</h1>
                    <div class="tags is-centered">
                      {% for favourite in school.favourites %}
                      <span class="tag is-large is-danger is-rounded">{{favourite}}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="column">
                  <figure class="image">
                    <img src="{{school.campus}}" />
                  </figure>
                 <span><i class="fa-solid fa-location-dot"></i> &nbsp; {{school.location}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="projects" class="hero has-nft-bg is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered p-6">
        <h1 class="title is-1 is-uppercase has-text-white">Projects</h1>

        {% for project in data[title]['projects'] %}
        <div class="block">
          <div class="card">
            <div class="card-content">
              <div class="columns is-vcentered is-centered">
                <div class="column is-three-fifths">
                  <h1 class="title is-1">{{project.title}}</h1>
                  <!-- <h1 class="subtitle is-3">{{project.link}}</h1> -->
                  <div class="block is-centered">
                    <h1 class="title is-6">{{project.description}}</h1>
                    
                    <div class="tags  are-medium is-centered">
                      {% for stack in project.stacks %}
  <span class="tag is-rounded is-link is-light">{{stack}}</span>
                      {% endfor %}
</div>

                    <div class="buttons is-centered">
                      
                      {% if project.link %}

                      <a href={{project.link}} target="_blank" rel="noreferrer noopener">
                      <button class="button is-large is-danger is-rounded">
                        <span class="icon is-medium">
                          <i class="fas fa-link"></i>
                        </span> 
                          
                        <span>Link</span>
                      </button>
                      </a>
                      
                      {% endif %}

                      {% if project.repo %}

                          <a href={{project.repo}} target="_blank" rel="noreferrer noopener">
                      <button class="button is-large is-danger is-rounded">
                        <span class="icon is-medium">
                          <i class="fab fa-github-alt"></i>
                        </span> 
                          
                        <span>Repository</span>
                      </button>
                      </a>

                      {% endif %}



                    </div>
                  </div>
                </div>
                <div class="column">
                  <figure class="image is-2by1">
                    <img src="{{ project['image']}}"/>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>


 <section class="hero is-black has-jungle-bg is-fullheight p-6 has-text-centered">

  <h1 class="title is-1 has-text-white is-uppercase">Trivia Board</h1>

{% for trivia in data[title]['trivias'] %}

<div class="tile is-ancestor">
  {% for item in trivia %}
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle has-text-black">{{item.question}}</p>
      <p class="title has-text-black">{{item.answer}}</p>
    </article>
  </div>

{% endfor %}

</div>

{% endfor %}



</section>

  <section id="hobbies" class="hero has-nft-bg is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered p-6">
        <h1 class="title is-1 is-uppercase has-text-white">Hobbies</h1>
        <div class="columns">
          {% for hobbies in data[title]['hobbies'] %}
          <div class="column">
            <div class="card">
              <div class="card-content">
                <figure class="image is-3by2">
                  <img src={{ hobbies['image'] }}>
                </figure>
                <br />
                <p class="title">
                  {{hobbies['hobby']}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>


  <div id="map" style="width: 100%; height: 100%; position: relative;"></div>

  <section id="contact" class="hero has-jungle-bg is-fullheight">
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="columns is-vcentered">
          <div class="column has-text-centered">
            <p class="title is-1 has-text-white">
              Contact {{title|title}}
              <h1 class="title"></h1>
            </p>
          </div>


          <div class="column">

                <form method="post" id="contact-form">
            

            <input type="hidden" id="receiver_name" name="receiver_name" value="{{ data[title]['name']}}">   
            
            <input type="hidden" id="receiver_email" name="receiver_email" value="{{data[title]['social'][2]['val']}}">      

            <div class="block">

              <div class="field">
                <div class="control has-icons-left">
                  <input name="name" id="name" class="input is-large" type="text" placeholder="Name">
                  <span class="icon is-large is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                            <div class="control has-icons-left">
                                <input name="subject" id="subject" class="input is-large" type="text" placeholder="Subject">
                                <span class="icon is-large is-left">
                                <i class="fas fa-eraser"></i>
                                </span>
                            </div>
              </div>

              <div class="field">
                <div class="control has-icons-left">
                  <input name="email" id="email" class="input is-large" type="text" placeholder="Email">
                  <span class="icon is-large is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <div class="control has-icons-left">
                  <textarea name="message" id="message" class="textarea is-large" placeholder="Message"></textarea>


                </div>
              </div>

            </div>

           <div class="block">
                        <div class="field is-grouped is-grouped-centered">
                            <p class="control">
                                <button name="submit" id="submit" value="submit" type="submit" class="button is-rounded is-large is-primary has-background-white has-text-primary-dark">
                                Submit
                                </button>
                            </p>
                        </div>
            </div>

            <div class="block">
                      <p id="success-notification"></p>
          </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </section>





  <footer class="footer">
    <div class="content has-text-centered">

      <div class="block">


        <buttons>
          <a href={{data[title]['social'][1]['val']}} target="_blank" rel="noreferrer noopener">
            <button class="button is-large">
              <span class="icon is-medium">
                   <i class="fab fa-github"></i>
               
              </span>
              <span>{{data[title]['social'][1]['name']}}</span>
            </button>
          </a>

          <a href={{data[title]['social'][0]['val']}} target="_blank" rel="noreferrer noopener">
            <button class="button is-large">
              <span class="icon is-medium">
               <i class="fab fa-linkedin"></i>
              </span>
              <span>{{data[title]['social'][0]['name']}}</span>
            </button>
          </a>


          <!-- <button class="button is-large">
            <span class="icon is-medium">
              <i class="fas fa-link"></i>
            </span>
            <span>Portfolio</span>
          </button> -->
        </buttons>

      </div>

      <div class="block">

        <strong>
          <p>
            Bored Apes Portfolio (MLH Fellowship Orientation Hackathon Summer 2022)
          </p>
        </strong>

      </div>

          <div class="block">

      
          <p>
            Made with <i class="fa-solid fa-heart"></i> in Detroit, Edmonton, and Markham
          </p>

      </div>

      <a href="#top" class="button is-small">Back to top</a>


    </div>
  </footer>


  <script src="https://kit.fontawesome.com/1dcdba3ff6.js" crossorigin="anonymous"></script>



  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt4EkwGj2-VGm0Kw3VF-0-5EpKveUAXAA&callback=initMap&libraries=&v=weekly"
    async>
  </script>

  <script>
    // Initialize and add the map
    function initMap() {

      const newYork = {
        lat: 40.730610,
        lng: -73.935242
      };

      // Create the map, centered at gfg_office
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 3,
        center: newYork,
      });

      var places = {{data|tojson}};

      var infowindow = new google.maps.InfoWindow();

      const locations = places["{{title}}"].locations;

      var marker, i;

      for (i = 0; i < locations.length; i++){
      
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i].lat, locations[i].lng),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i].name);
          infowindow.open(map, marker);
        }
      })(marker, i));
      }
    }
  </script>


  <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
 
  <script type="text/javascript">
    $(document).on('submit','#contact-form',function(e)
                   {
      console.log('hello');
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'/contact',
        data:{
          name:$("#name").val(),
          subject:$("#subject").val(),
          email:$("#email").val(),
          message:$("#message").val(),
          receiver_name:$("#receiver_name").val(),
          receiver_email:$("#receiver_email").val()
        },
        success:function()
        {
          $('input[type="text"],textarea').val('');
          $("#submit").remove()
          $("#success-notification").text = "Message successfully sent"
        }
      })
    });
  </script>



</body>

</html>