<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
  <section class="section" style="background-color: black;">
    <div class="container has-text-centered">

        <h1 class="title has-text-white">Trivia Board</h1>
   
<div class="tile is-ancestor">

  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle">Coding since</p>
      <p class="title">2015</p>
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle">Favourite language</p>
      <p class="title">Python</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle">First language</p>
      <p class="title">HTML</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle">Dreaded Language</p>
      <p class="title">Assembly</p>
    </article>
  </div>
</div>

<div class="tile is-ancestor">

  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle">Favourite CS Concept</p>
      <p class="title">TCP/IP</p>
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle">Hated CS Concept</p>
      <p class="title">Recursion</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle">Code Editor</p>
      <p class="title">VSCode</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle">Editor Theme</p>
      <p class="title">One Dark Pro</p>
    </article>
  </div>
</div>

<div class="tile is-ancestor">

  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle">Listening to</p>
      <p class="title">As It Was by Harry Styles</p>
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle">Night Owl or Early Bird</p>
      <p class="title">Night Owl</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle">Unforgettable Tech Fail</p>
      <p class="title">Setting up a server firewall and forgetting to allow SSH</p>
    </article>
  </div>

  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="subtitle">Website you visit the most</p>
      <p class="title">Stackoverflow</p>
    </article>
  </div>

</div>




    </div>
  </section>
  </body>
</html>