{% extends "base.html" %} 
{% block title %} Work {% endblock %}
{% block content %}
<section class="hero has-jungle-bg is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 is-uppercase has-text-white green-outlined">Work Experiences</h1>
            <div class="columns">
                {% for experience in experiences %}
                <div class="column">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title title is-4">
                                {{experience.location}}
                            </p>
                        </header>
                        <div class="card-content">
                            <img src="{{experience.image}}" class="same-size">
                            <p class="title">
                                {{experience.position}}
                            </p>
                            <p class="subtitle">
                                {{experience.date}}
                            </p>
                            <p></p>
                            {% for responsibility in experience.responsibilities %}
                            <ul>
                                <li>{{responsibility}}</li>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}